<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Introduction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <%- include navigation.ejs %>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>ASDF Group</h1>
        </div>
        <div>
            <ul>
                <li><h1 class="display-3">Shinta Ayu C. K. - 13516029</h1></li>
                <li><h1 class="display-3">Yuly Haruka B. G. - 13516031</h1></li>
                <li><h1 class="display-3">Naufal P. P. - 13516110</h1></li>
                <li><h1 class="display-3">M. Fadhriga Bestari - 13516154</h1></li>
            </ul>
        </div>
    </div>
</body>
</html>