<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Introduction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <%- include navigation.ejs %>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Introduction To Temporal Database</h1>
        </div>
        <div id="about" class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h2>About Temporal Database</h2><br>
                    <h4>Temporal database supports the management of time-varying information.</h4><br>
                    <p>Features :</p>
                    <ul>
                        <li>A time period datatype, including the ability to represent time periods with no end (infinity or forever)</li>
                        <li>The ability to define valid and transaction time period attributes and bitemporal relations</li>
                        <li>System-maintained transaction time</li>
                        <li>Temporal primary keys, including non-overlapping period constraints</li>
                        <li>Temporal constraints, including non-overlapping uniqueness and referential integrity</li>
                        <li>Update and deletion of temporal records with automatic splitting and coalescing of time periods</li>
                        <li>Temporal queries at current time, time points in the past or future, or over durations</li>
                        <li>Predicates for querying time periods, often based on Allen’s interval relations</li>
                    </ul>
                    <br>
                    <h2>
                        Snodgrass’ Tuple Timestamped Representation Scheme
                    </h2>
                    <p>Representing the conceptual relation in 1NF snapshot relations</p>
                    <ul>
                        <li>All attributes’ values are atomic</li>
                        <li>Time is associated in the tuple level ( tuple timestamping )</li>
                        <li>Easier to be implemented in RDBMS</li>
                    </ul>
                    <p>A bitemporal conceptual schema:</p>
                    <p>R = (A1, ..., An, T)</p>
                    <p>is represented into:</p>
                    <p>R = (A1, ..., An, Ts, Te, Vs, Ve)</p>
                    <br><a href="/result"><button class="btn btn-default btn-lg">Go To Query Tool</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>