<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Introduction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body ng-app = "MyApp" ng-controller="myCtrl">
    <%- include navigation.ejs %>
    <div class="container">
      <div class="jumbotron text-center">
          <h1>Query to Temporal Database</h1>
      </div>
      <form action="">
        <div class="form-group">
          <label for="query">Insert Your Query</label>
          <textarea class="form-control" rows="5" name="query" id="query"></textarea>
        </div>
        <button type="button" class="btn btn-success col-sm-10" id="submit">Execute</button>
        <button type="button" class="btn btn-secondary col-sm-2" data-toggle="modal" data-target="#myModal">Get Sample Query</button>
      </form>

      <hr>
      <div ng-repeat="x in res" id='result'>
        <p>{{x}}</p>
      </div>
      <!-- <div class="table-responsive col-md-12 table-wrapper-scroll-y" name="result" id="result">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="row_1">Row 1</td>
              <td>Row 2</td>
              <td>Row 3</td>
            </tr>
            <tr>
              <td>Row 1</td>
              <td>Row 2</td>
              <td>Row 3</td>
            </tr>
            <tr>
              <td>Row 1</td>
              <td>Row 2</td>
              <td>Row 3</td>
            </tr>
          <tbody>

          </tbody>
        </table>
      </div> -->

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <b>Obtains :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where '2011-11-11'::date <@ daterange(start_date, end_date);</p>

              <b>Precedes :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2000-01-01', '2005-01-01') << daterange(start_date, end_date);</p>

              <b>Meets :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where '2017-09-21' = start_date;</p>

              <b>Overlaps :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2003-01-01', '2009-01-01') &< daterange(start_date, end_date);</p>

              <b>Finished by :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2003-01-01', '2014-12-12') &< daterange(start_date, end_date) and</p>
              <p style="text-indent:30px;">'2014-12-12' = end_date;</p>

              <b>Contains :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange(start_date, end_date) &< daterange('2008-01-01', '2008-12-31') and</p>
              <p style="text-indent:30px;">daterange(start_date, end_date) &> daterange('2008-01-01', '2008-12-31');</p>

              <b>Starts :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2007-07-15', '2009-11-11') &< daterange(start_date, end_date) and</p>
              <p style="text-indent:30px;">'2007-07-15' = start_date;</p>

              <b>Equals :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2017-09-21', '2019-02-02') = daterange(start_date, end_date);</p>

              <b>Started by :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange(start_date, end_date) &> daterange('2007-07-15', '2009-11-11') and</p>
              <p style="text-indent:30px;">'2007-07-15' = start_date;</p>

              <b>During :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2019-01-01', current_date) &< daterange(start_date, end_date) and</p>
              <p style="text-indent:30px;">daterange('2019-01-01', current_date) &> daterange(start_date, end_date);</p>

              <b>Finishes :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2003-01-01', '2014-12-12') &> daterange(start_date, end_date) and</p>
              <p style="text-indent:30px;">'2014-12-12' = end_date;</p>

              <b>Overlapped by :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2003-01-01', '2014-12-12') &> daterange(start_date, end_date);</p>

              <b>Met by :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where '2002-03-04' = end_date;</p>

              <b>Proceded by :</b>
              <p>select tmp.name, departments.name as department_name, start_date, end_date</p>
              <p>from (employees join employees_data</p>
              <p style="text-indent:30px;">on employees.id_employee = employees_data.id_employee) as tmp join departments </p>
              <p style="text-indent:30px;">on tmp.id_department = departments.id_department</p>
              <p>where daterange('2012-01-01', '2015-01-01') >> daterange(start_date, end_date);</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    </div>
</body>
</html>

<script language="javascript" type="text/javascript">
  function getData(){
      let data = document.getElementById('result').innerHTML;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState === 4 && this.status === 200) {
              var json = JSON.parse(this.responseText);
              if (json.status == 400){
                  // document.getElementById('result').innerHTML = "query error";
              } else {
                  // document.getElementById('result').innerHTML = JSON.stringify(json.values.rows);
              }
          }
      };
      xhttp.open("GET", "http://localhost:3000/data", true);
      xhttp.send();
  }
  getData();

    $(document).ready(function(){
      var query;
      $("#submit").click(function(){
        query=$("#query").val();
        $.post("http://localhost:3000/query",{query: query}, function(status, data){
          if(status === 200)
            {
              console.log("test");
              console.log(data);
            }
        });
      });
    });
</script>
